body {
    font-family:'Macondo', cursive;
    height:100vh;
    width:100vw;
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
    background-image:url("resources/mainbg.jpg");
}

h1 {
    margin:0;
    font-family:'Macondo', cursive;
    font-size:2.5rem;
}

a {
    background-color:#52b9a8;
    border:2px solid black;
    border-radius:5px;
    padding:2px;
    font-size:0.9rem;
    text-decoration: none;
    color:black;
    font-weight:400;
}

a:hover {
    filter:brightness(0.8);
}

a:active {
    transform:scale(1.1);
}